@import '../base/variables';
@import '../base/mixins';

@media screen and (max-width:@tablet-max) {
	.page-wrapper {
		max-width: @tablet-max;
	}

	.row:first-of-type {
		.col-1 {
			width: 100%;
		}

		.col-2 {
			width: 100%;
			float: right;
		}
	}

	.section-1 {
		height: 200px;

		.menu-section {
			.buggur-menu {
				left: auto;
				right: 0;
			}
		}

		#myCanvas1 {
			display: none;
		}

		.top {
			top: 35%;
			left: 13%;
		}

		.bottom {
			bottom: 30%;
			left: 13%;
		}
	}

	.section-13 {
		.content-box {
			float: none;
			width: 70%;
			margin: 20% auto 0 auto;
			text-align: center;
		}

		.socials {
			margin: 15% auto 0 auto;
		}

		.flying-text {
			position: static;
			max-width: 60%;
			margin: 0 auto;
			text-align: center;
		}
	}
}

