@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/Gotham-Book/Gotham-Book.eot');
  src: url('../fonts/Gotham-Book/Gotham-Book?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Book/Gotham-Book.woff') format('woff'), url('../fonts/Gotham-Book/Gotham-Book.ttf') format('truetype'), url('../fonts/Gotham-Book/Gotham-Book.svg#gothambook') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Bold';
  src: url('../fonts/Gotham-Bold/Gotham-Bold.eot');
  src: url('../fonts/Gotham-Bold/Gotham-Bold?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Bold/Gotham-Bold.woff') format('woff'), url('../fonts/Gotham-Bold/Gotham-Bold.ttf') format('truetype'), url('../fonts/Gotham-Bold/Gotham-Bold.svg#gothambold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DK-Downward-Fall';
  src: url('../fonts/DK-Downward-Fall/DK-Downward-Fall.eot');
  src: url('../fonts/DK-Downward-Fall/DK-Downward-Fall?#iefix') format('embedded-opentype'), url('../fonts/DK-Downward-Fall/DK-Downward-Fall.woff') format('woff'), url('../fonts/DK-Downward-Fall/DK-Downward-Fall.ttf') format('truetype'), url('../fonts/DK-Downward-Fall/DK-Downward-Fall.svg#dkdownwardfall') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas';
  src: url('../fonts/Bebas/BEBAS.eot');
  src: url('../fonts/Bebas/BEBAS?#iefix') format('embedded-opentype'), url('../fonts/Bebas/BEBAS.woff') format('woff'), url('../fonts/Bebas/BEBAS.ttf') format('truetype'), url('../fonts/Bebas/BEBAS.svg#bebas') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BebasNeue';
  src: url('../fonts/BebasNeue/BebasNeue.eot');
  src: url('../fonts/BebasNeue/BebasNeue?#iefix') format('embedded-opentype'), url('../fonts/BebasNeue/BebasNeue.woff') format('woff'), url('../fonts/BebasNeue/BebasNeue.ttf') format('truetype'), url('../fonts/BebasNeue/BebasNeue.svg#bebasneue') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BebasNeueBook';
  src: url('../fonts/BebasNeueBook/BebasNeueBook.eot');
  src: url('../fonts/BebasNeueBook/BebasNeueBook?#iefix') format('embedded-opentype'), url('../fonts/BebasNeueBook/BebasNeueBook.woff') format('woff'), url('../fonts/BebasNeueBook/BebasNeueBook.ttf') format('truetype'), url('../fonts/BebasNeueBook/BebasNeueBook.svg#bebasneuebook') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Edo';
  src: url('../fonts/Edo/edo.eot');
  src: url('../fonts/Edo/edo?#iefix') format('embedded-opentype'), url('../fonts/Edo/edo.woff') format('woff'), url('../fonts/Edo/edo.ttf') format('truetype'), url('../fonts/Edo/edo.svg#edo') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GoboldLight';
  src: url('../fonts/GoboldLight/GoboldLight.eot');
  src: url('../fonts/GoboldLight/GoboldLight?#iefix') format('embedded-opentype'), url('../fonts/GoboldLight/GoboldLight.woff') format('woff'), url('../fonts/GoboldLight/GoboldLight.ttf') format('truetype'), url('../fonts/GoboldLight/GoboldLight.svg#goboldLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
.touch-fix-hack {
  -ms-touch-action: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}
/* Micro ClearFix Mixin */
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
@media screen and (max-width: 480px) {
  .main-nav {
    z-index: 7;
  }
  .main-nav span.nav-close {
    position: absolute;
    right: 0;
    top: 0;
    background: white url('../images/nav-close-orange.png') no-repeat center center;
  }
  .main-nav .nav-list {
    position: relative;
  }
  .main-nav ul.nav-list li:last-child {
    margin-right: 0;
  }
  .main-nav .nav-submenu {
    right: 45px;
  }
  .register {
    width: 210px;
  }
  .main-footer nav a {
    font-size: 10px;
    display: inline-block;
    text-align: center;
  }
  .main-footer nav a:nth-child(1) {
    width: 30%;
  }
  .main-footer nav a:nth-child(2) {
    width: 22%;
  }
  .main-footer nav a:nth-child(3) {
    width: 18%;
  }
  .main-footer a.logo {
    float: none;
    display: block;
    margin: 0px auto 24px auto;
  }
  .main-footer nav a:after {
    margin: 0px 10px;
  }
  .page-wrapper {
    max-width: 480px;
  }
  .main-container {
    max-width: 480px;
  }
  .bandeau {
    max-width: 480px;
  }
  .bandeau .num-uploaded-ads {
    display: block;
    margin: 25% auto 0% auto;
    font-size: 34px;
  }
  .bandeau .days {
    width: 100%;
    height: auto;
    float: none;
    background-color: #f7f7f7;
  }
  .bandeau .days:before {
    margin-left: 10%;
  }
  .bandeau .days h1,
  .bandeau .days h1 span {
    float: left;
    font-size: 17px;
    line-height: 2;
  }
  .slider-ads {
    max-width: 480px;
    padding: 0px 30px;
  }
  .slider-ads .left-arrow,
  .slider-ads .right-arrow {
    display: none;
  }
  .slider-ads .slider-ads-cont {
    max-width: 480px;
  }
  .slider-ads .slider-ads-cont .slider-ads-items div {
    float: none;
    margin-right: 0;
    margin-bottom: 30px;
    width: 418px;
    height: 276px;
  }
  .slider-ads .slider-ads-cont .slider-ads-items div img {
    width: 418px;
    height: 276px;
  }
  a.main-btn,
  a.main-btn:hover,
  a.main-btn:visited,
  a.main-btn:active {
    display: none;
  }
  .play-video {
    max-width: 480px;
  }
  .play-video video {
    max-width: 480px;
  }
  .play-video .video-title {
    margin-top: 5%;
    font-size: 37px;
  }
  .play-video .video-title b {
    font-family: "Edo";
  }
  a.back-btn,
  a.back-btn:active,
  a.back-btn:visited,
  a.back-btn:hover {
    margin-top: 30%;
  }
  .hp_phase1 {
    top: 0%;
    left: 26%;
  }
  .hp_phase1 .main-logo {
    margin: 10% auto 0% auto;
    width: 65px;
    height: auto;
  }
  .hp_phase1 .main-logo img {
    width: 100%;
    display: block;
  }
  .hp_phase1 .main-ribbon {
    width: 208px;
    height: 198px;
    background: url('../images/upload-ribbon.png') no-repeat;
  }
  .gallery-page {
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .gallery-page .bandeau {
    max-width: 480px;
    padding: 20px 0px;
  }
  .gallery-page .bandeau .filters {
    float: none;
    width: 100%;
    margin: 10px auto;
  }
  .gallery-page .bandeau .filters a.filter-by-date,
  .gallery-page .bandeau .filters a.filter-by-date:active,
  .gallery-page .bandeau .filters a.filter-by-date:visited,
  .gallery-page .bandeau .filters a.filter-by-date:hover {
    padding: 13px 5px;
    font-size: 14px;
    color: #c5c4c4;
    background-color: #ffffff;
    border: 3px solid #c5c4c4;
  }
  .gallery-page .bandeau .filters a.filter-by-date:after {
    content: "";
    float: right;
    width: 20px;
    height: 10px;
    background: url('../images/dropdown-arrow-grey1.png') right no-repeat;
  }
  .gallery-page .bandeau .num-uploaded-ads {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-top: 23px;
    font-size: 34px;
  }
  .gallery-page .bandeau .days {
    position: static;
    float: none;
    width: 100%;
    margin-top: 23px;
  }
  .gallery-page .bandeau .days h1,
  .gallery-page .bandeau .days h1 span {
    float: left;
    font-size: 17px;
  }
  .gallery-page .bandeau .days:before {
    margin-left: 10%;
  }
  .gallery-page .gallery-grid {
    width: 100%;
    padding: 0px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .gallery-page .gallery-grid .gallery-item {
    width: 100%;
  }
  .play-video-cont {
    max-width: 480px;
  }
  .play-video-cont .video-wrapper video {
    width: 100%;
  }
  .video-details.num-uploaded-ads {
    display: none;
  }
  .video-details.carousel-holder .ads-carousel {
    display: none;
  }
  .carousel-holder .prev-arrow,
  .carousel-holder .next-arrow {
    display: none !important;
  }
  .home-carousel-slide .carousel-controls {
    bottom: 0px;
    left: 0;
    right: 0;
  }
  .home-carousel-slide .carousel-controls .video-name {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 2px;
  }
  .home-carousel-slide .carousel-controls .play,
  .home-carousel-slide .carousel-controls .volume {
    float: left;
    margin-bottom: 9px;
  }
  .home-carousel-slide .carousel-controls .play {
    margin-left: 20px;
  }
  .home-carousel {
    margin-bottom: 40px;
  }
  .slick-dots {
    bottom: -30px;
  }
  .slick-dots li button {
    background-color: #c6c6c6;
    color: #c6c6c6;
    border: none;
  }
  .ads-carousel .ads-slide {
    display: block;
    margin-bottom: 30px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .ads-carousel .ads-slide img {
    float: none;
    width: 100%;
  }
  .how-to-win-page .bandeau {
    display: none;
  }
  .how-to-win-page .description {
    max-width: 66%;
  }
  .how-to-win-page .steps {
    padding: 0;
  }
  .how-to-win-page .steps article {
    width: 50%;
    margin: 0;
    padding: 5%;
  }
  .how-to-win-page .steps img {
    display: block;
    margin: 0 auto;
  }
  .how-to-win-page .msg-box {
    height: auto;
    padding: 2%;
  }
  .how-to-win-page .msg-box p {
    font-size: 16px;
  }
  .how-to-win-page .slick-dots {
    bottom: 15px;
  }
  #ww_winner .devider-winners {
    margin-top: -50px;
    margin-bottom: 10px;
  }
  #ww_winner .num-uploaded-ads {
    margin-top: 0;
  }
  .winners-page .top-msg h2 {
    max-width: 100%;
    padding: 0 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .winners-page .winners-grid {
    width: 100%;
  }
  .winners-page .winners-grid .win-cattegory .row {
    margin: 0 5%;
  }
  .winners-page .winners-grid .win-cattegory .winners-item {
    float: none;
    width: 100%;
  }
}
.upload-videos-page {
  background: none;
}
.upload-videos-page .upload-videos-cont {
  width: 420px;
}
.upload-videos-page .upload-videos-cont .left-side,
.upload-videos-page .upload-videos-cont .right-side {
  float: none;
  margin: 0 auto;
}
.upload-videos-page .upload-videos-cont .left-side .ribbon {
  top: 0;
  left: 0;
}
