@import '../base/variables';
@import '../base/mixins';

@media screen and (max-width:@mobile) {

    h2 {
        font-size: 40px;
    }

    .page-wrapper {
        max-width: @mobile;
    }

    [class*='section-']{
        width: 100%;
    }

    .section-8 {
        .project-description {
            .info-box, .more-section {
                float: none;
            }
        }
    }
}